<?xml version="1.0" ?>
<robot name="sverk_v2"
       arm="0.065604"
       kf="7.68e-10"
       km="9.32e-12"
       thrust2weight="1.999"
       max_speed_kmh="30"
       gnd_eff_coeff="11.36859"
       prop_radius="0.0231348"
       drag_coeff_xy="9.1785e-7"
       drag_coeff_z="10.311e-7"
       dw_coeff_1="2267.18"
       dw_coeff_2=".16"
       dw_coeff_3="-.11">

  <!-- base_link: all the mass and inertia, CoM is displaced -->
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000152 -0.001609 0.011248"/>
      <mass value="0.342847"/>
      <inertia ixx="0.0006035" ixy="3.4926e-8" ixz="-5.20315e-7"
               iyy="0.0006525" iyz="-5.20315e-7"
               izz="0.0007908"/>
    </inertial>

    <visual>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="sverk_v1.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba=".5 .5 .5 1"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius=".06" length=".025"/>
      </geometry>
    </collision>
  </link>

  <!-- Propellers (according to new coordinates) -->
  <link name="prop0_link">
    <inertial>
      <origin xyz="0.0335 0.05641 0.015"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0335 0.05641 0.015"/>
      <geometry>
        <cylinder radius="0.0231348" length="0.002"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="prop0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop0_link"/>
  </joint>

  <link name="prop1_link">
    <inertial>
      <origin xyz="-0.0335 0.05641 0.015"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="-0.0335 0.05641 0.015"/>
      <geometry>
        <cylinder radius="0.0231348" length="0.002"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="prop1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop1_link"/>
  </joint>

  <link name="prop2_link">
    <inertial>
      <origin xyz="0.0335 -0.05641 0.015"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0335 -0.05641 0.015"/>
      <geometry>
        <cylinder radius="0.0231348" length="0.002"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="prop2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop2_link"/>
  </joint>

  <link name="prop3_link">
    <inertial>
      <origin xyz="-0.0335 -0.05641 0.015"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin xyz="-0.0335 -0.05641 0.015"/>
      <geometry>
        <cylinder radius="0.0231348" length="0.002"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
  </link>
  <joint name="prop3_joint" type="fixed">
    <parent link="base_link"/>
    <child link="prop3_link"/>
  </joint>

  <!-- Auxiliary center of mass link (if required by the plug-in) -->
  <link name="center_of_mass_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="center_of_mass_joint" type="fixed">
    <parent link="base_link"/>
    <child link="center_of_mass_link"/>
  </joint>

</robot>
